body {background:#000;}
.SupGroup{
	
	font-family: 'Cantora One', sans-serif;
	font-size: 20px;
	color: gold;
}

.Group{
	font-family: 'Knewave', cursive;
	color: gold;
	font-size: 16px;
	text-shadow: #4CC417 3px 0px 5px
}
.G {
	font-family: 'Metal Mania', cursive;
	color: white;
	font-size: 32px;
	text-shadow:#DB7093 3px 0px 6px;
}
.C {
	font-family: 'Metal Mania', cursive;
	color: white;
	font-size: 20px;
	text-shadow:#DB7093 3px 0px 6px;
}
.Marq {
	position:fixed;
	bottom: 0px;
	font-family: 'Knewave', cursive;
	color: gold;
	font-size: 18px;
	text-shadow: #4CC417 0px 0px 5px
}
